In [11]:
import pandas as pd

In [12]:
ruta = '../data/'

In [13]:
df_sales = pd.read_csv(ruta + 'sales_train_english.csv')
df_items = pd.read_csv(ruta + 'items.csv')
df_item_categories = pd.read_csv(ruta + 'item_categories.csv')
df_shops = pd.read_csv(ruta + 'shops.csv')

In [14]:
print("Sales shape:", df_sales.shape)
print("Items shape:", df_items.shape)
print("Item categories shape:", df_item_categories.shape)
print("Shops shape:", df_shops.shape)

Sales shape: (2935849, 6)
Items shape: (22170, 3)
Item categories shape: (84, 2)
Shops shape: (60, 2)

In [21]:
print("Data types:")
print(df_sales.dtypes)

Data types:
date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [22]:
print("Null values in sales:")
print(df_sales.isnull().sum())

Null values in sales:
date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [23]:
print("Duplicated rows in sales:", df_sales.duplicated().sum())

Duplicated rows in sales: 6

In [24]:
print("Sales dataset statistics:")
print(df_sales.describe())

Sales dataset statistics:
       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [25]:
print("Negative prices:")
print(df_sales[df_sales['item_price'] < 0])

Negative prices:
              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013               4       32     2973        -1.0           1.0

In [26]:
print("Unusual item_cnt_day values:")
print(df_sales[df_sales['item_cnt_day'] < 0].shape)
print(df_sales[df_sales['item_cnt_day'] > 1000].shape)

Unusual item_cnt_day values:
(7356, 6)
(1, 6)