In [42]:
import pandas as pd

In [43]:
ruta = '../data/'

In [44]:
df_sales = pd.read_csv(ruta + 'sales_train_english.csv')
df_test = pd.read_csv(ruta + 'test_english.csv')
df_items = pd.read_csv(ruta + 'items.csv')  # original
df_item_categories = pd.read_csv(ruta + 'item_categories.csv')  # original
df_shops = pd.read_csv(ruta + 'shops.csv') # original
df_sample_submission = pd.read_csv(ruta + 'sample_submission_english.csv')

In [45]:
print("sales_train_english.csv")
display(df_sales.head())

sales_train_english.csv

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [46]:
print("test_english.csv")
display(df_test.head())

test_english.csv

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [47]:
print("items.csv")
display(df_items.head())

items.csv

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [48]:
print("item_categories.csv")
display(df_item_categories.head())

item_categories.csv

           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4

In [49]:
print("shops.csv")
display(df_shops.head())

shops.csv

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Adygea TC 'Mega'        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Volzhsky TC 'Volga Mall'        4

In [50]:
print("sample_submission_english.csv")
display(df_sample_submission.head())

sample_submission_english.csv

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5