In [1]:
import pandas as pd

In [2]:
df_matrix = pd.read_csv('../data/matriz_base.csv')
df_items = pd.read_csv('../data/items.csv')

In [3]:
#Crear columnas mes y año
df_matrix['month'] = df_matrix['date_block_num'] % 12
df_matrix['year'] = df_matrix['date_block_num'] // 12 + 2013

In [4]:
#Añadir cat producto
df_matrix = df_matrix.merge(df_items[['item_id', 'item_category_id']], on='item_id', how='left')

In [5]:
#Media vntas por producto (histórico)
item_avg = df_matrix.groupby('item_id')['item_cnt_month'].mean().rename('item_avg_monthly_sales')
df_matrix = df_matrix.merge(item_avg, on='item_id', how='left')

In [6]:
#Media ventas por tienda
shop_avg = df_matrix.groupby('shop_id')['item_cnt_month'].mean().rename('shop_avg_monthly_sales')
df_matrix = df_matrix.merge(shop_avg, on='shop_id', how='left')

In [7]:
print(df_matrix.shape)
df_matrix[['date_block_num', 'shop_id', 'item_id', 'item_cnt_month', 'month', 'year', 'item_avg_monthly_sales', 'shop_avg_monthly_sales']].head()

(10884554, 9)

,date_block_num,shop_id,item_id,item_cnt_month,month,year,item_avg_monthly_sales,shop_avg_monthly_sales
0,0,59,22154,1.0,0,2013,0.110280,0.198369
1,0,59,2552,0.0,0,2013,0.025547,0.198369
2,0,59,2554,0.0,0,2013,0.022222,0.198369
3,0,59,2555,0.0,0,2013,0.066508,0.198369
4,0,59,2564,0.0,0,2013,0.058599,0.198369

In [8]:
df_matrix.to_csv('../data/matriz_features_basicas.csv', index=False)