In [7]:
import pandas as pd

In [8]:
df_matrix = pd.read_csv('../data/matriz_features_basicas.csv')

In [9]:
def create_lag_feature(df, lag_months, col_name):
    for lag in lag_months:
        lag_col = f'{col_name}_lag_{lag}'
        df_lag = df[['date_block_num', 'shop_id', 'item_id', col_name]].copy()
        df_lag['date_block_num'] += lag
        df_lag.rename(columns={col_name: lag_col}, inplace=True)
        df = df.merge(df_lag, on=['date_block_num', 'shop_id', 'item_id'], how='left')
    return df

In [10]:
#Crear lag de 1 y 3 meses para la variable objetivo (item_cnt_month)
df_matrix = create_lag_feature(df_matrix, [1, 3], 'item_cnt_month')

#Lag de media por producto
df_matrix = create_lag_feature(df_matrix, [1], 'item_avg_monthly_sales')

#Lag de media por tienda
df_matrix = create_lag_feature(df_matrix, [1], 'shop_avg_monthly_sales')

In [11]:
df_matrix.fillna(0, inplace=True)

In [12]:
print(df_matrix.shape)
df_matrix[['date_block_num', 'shop_id', 'item_id', 'item_cnt_month', 'item_cnt_month_lag_1', 'item_cnt_month_lag_3']].head()

(10884554, 13)

,date_block_num,shop_id,item_id,item_cnt_month,item_cnt_month_lag_1,item_cnt_month_lag_3
0,0,59,22154,1.0,0.0,0.0
1,0,59,2552,0.0,0.0,0.0
2,0,59,2554,0.0,0.0,0.0
3,0,59,2555,0.0,0.0,0.0
4,0,59,2564,0.0,0.0,0.0

In [14]:
df_matrix

,date_block_num,shop_id,item_id,item_cnt_month,month,year,item_category_id,item_avg_monthly_sales,shop_avg_monthly_sales,item_cnt_month_lag_1,item_cnt_month_lag_3,item_avg_monthly_sales_lag_1,shop_avg_monthly_sales_lag_1
0,0,59,22154,1.0,0,2013,37,0.110280,0.198369,0.0,0.0,0.000000,0.000000
1,0,59,2552,0.0,0,2013,58,0.025547,0.198369,0.0,0.0,0.000000,0.000000
2,0,59,2554,0.0,0,2013,58,0.022222,0.198369,0.0,0.0,0.000000,0.000000
3,0,59,2555,0.0,0,2013,56,0.066508,0.198369,0.0,0.0,0.000000,0.000000
4,0,59,2564,0.0,0,2013,59,0.058599,0.198369,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10884549,33,21,7635,0.0,9,2015,64,0.022727,0.270391,0.0,0.0,0.000000,0.000000
10884550,33,21,7638,0.0,9,2015,64,0.021277,0.270391,0.0,0.0,0.000000,0.000000
10884551,33,21,7640,0.0,9,2015,64,0.022727,0.270391,0.0,0.0,0.000000,0.000000
10884552,33,21,7632,0.0,9,2015,64,0.021807,0.270391,0.0,0.0,0.021807,0.270391
10884553,33,21,7440,0.0,9,2015,57,0.065903,0.270391,0.0,0.0,0.065903,0.270391

In [13]:
df_matrix.to_csv('../data/matriz_features_lags.csv', index=False)